In [2]:
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [3]:
file = "Eutrophication_Food_Production.csv"
file_df = pd.read_csv(file)
file_df.head()

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal,...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
0,Wheat & Rye (Bread),0.1,0.0,0.8,0.2,0.1,0.1,0.1,1.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Maize (Meal),0.3,0.0,0.5,0.1,0.1,0.1,0.0,1.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Barley (Beer),0.0,0.0,0.2,0.1,0.0,0.5,0.3,1.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Oatmeal,0.0,0.0,1.4,0.0,0.1,0.1,0.0,1.6,4.281357,...,371.076923,482.4,0.945482,1.907692,2.897446,7.6,5.846154,18786.2,14450.92308,7162.104461
4,Rice,0.0,0.0,3.6,0.1,0.1,0.1,0.1,4.0,9.514379,...,3166.760563,2248.4,1.207271,6.267606,0.759631,2.8,3.943662,49576.3,69825.77465,13449.891480

In [4]:
eutrophication_df = file_df[["Food product","Eutrophying emissions per 1000kcal","Eutrophying emissions per kilogram","Eutrophying emissions per 100g protein"]]
eutrophication_df.head()

,Food product,Eutrophying emissions per 1000kcal,Eutrophying emissions per kilogram,Eutrophying emissions per 100g protein
0,Wheat & Rye (Bread),NaN,NaN,NaN
1,Maize (Meal),NaN,NaN,NaN
2,Barley (Beer),NaN,NaN,NaN
3,Oatmeal,4.281357,11.23,8.638462
4,Rice,9.514379,35.07,49.394366

In [5]:
eutro_df=eutrophication_df.dropna()

In [6]:
eutro_df

,Food product,Eutrophying emissions per 1000kcal,Eutrophying emissions per kilogram,Eutrophying emissions per 100g protein
3,Oatmeal,4.281357,11.23,8.638462
4,Rice,9.514379,35.07,49.394366
5,Potatoes,4.754098,3.48,20.470588
6,Cassava,0.708419,0.69,7.666667
9,Other Pulses,5.008798,17.08,7.977581
10,Peas,2.173410,7.52,3.384338
11,Nuts,3.113821,19.15,11.726883
12,Groundnuts,2.437931,14.14,5.401070
20,Tomatoes,39.526316,7.51,68.272727
21,Onions & Leeks,8.756757,3.24,24.923077
22,Root Vegetables,4.351351,1.61,16.100000
23,Brassicas,29.470588,5.01,45.545455
25,Citrus Fruit,7.000000,2.24,37.333333
26,Bananas,5.483333,3.29,36.555556
27,Apples,3.020833,1.45,48.333333
28,Berries & Grapes,10.736842,6.12,61.200000
31,Coffee,197.357143,110.52,138.150000
32,Dark Chocolate,16.843327,87.08,174.160000
33,Beef (beef herd),110.406593,301.41,151.158475
34,Beef (dairy herd),133.805861,365.29,185.050659
35,Lamb & Mutton,30.640379,97.13,48.540730
36,Pig Meat,31.958159,76.38,47.206428
37,Poultry Meat,26.324324,48.70,28.117783
38,Milk,17.750000,10.65,32.272727
39,Cheese,25.418605,98.37,44.551630
40,Eggs,15.111111,21.76,19.610671
41,Fish (farmed),131.351955,235.12,103.100197

In [7]:
file2 = "wri_eutrophic_hypoxic_dataset.csv"
file2_df = pd.read_csv(file2)
file2_df.head()

,ID,System,Country,Lat,Long,Decade,Hypoxia Current,Benthic,Fisheries,Comment,References,Classification,Photo Notes,Video Link,YouTube ID,Unnamed: 15
0,1,McMurdo Sound,Antarctica,-77.850000,166.651000,1990,Improved,"Abundance reduced by 1/3, diversity high or hi...",NaN,"McMurdo Station, a U.S. Antarctic research cen...",Conlan et al. 2004; 2010; Kim et al. 2007,Improved,Yes,NaN,NaN,NaN
1,2,Sand-mining dock-South Barbuda,Antigua & Barbuda,17.116670,-61.700000,1990,Seasonal,NaN,NaN,Antigua and Barbuda is a twin-island nation lo...,"Goreau & Goreau, 1996; Bernal et al. 2004",Eutrophic,Yes,NaN,NaN,NaN
2,4,Beaufort Inlet,Australia-Western Australia,-34.459000,118.888000,1930,Episodic,NaN,Massive fish kills reported as early as 1936,"Beaufort Inlet, also locally known as Pallinup...","Brearley, 2005",Hypoxic,No,NaN,NaN,NaN
3,5,Bellambi Gully,Australia-New South Wales,-34.407017,150.900178,1990,NaN,NaN,NaN,Bellambi Gully is an estuarine lagoon in New S...,Wollongong City Council 2007,Eutrophic,Yes,NaN,NaN,NaN
4,7,Cabbage Tree Basin,Australia-New South Wales,-34.088639,151.126756,1980,Seasonal,Mortality with annual recolonization,NaN,The Cabbage Tree Basin is a small body of wate...,"Rainer & Griffiths, 1980; Rainer & Fitzharding...",Hypoxic,No,NaN,NaN,NaN

In [8]:
columns = ['Country']

for col in columns:
    file2_df[col] = file2_df[col].str.split('-', expand=True)

In [ ]:
#file2_df['new col'] = list

In [9]:
file2_df

,ID,System,Country,Lat,Long,Decade,Hypoxia Current,Benthic,Fisheries,Comment,References,Classification,Photo Notes,Video Link,YouTube ID,Unnamed: 15
0,1,McMurdo Sound,Antarctica,-77.850000,166.651000,1990,Improved,"Abundance reduced by 1/3, diversity high or hi...",NaN,"McMurdo Station, a U.S. Antarctic research cen...",Conlan et al. 2004; 2010; Kim et al. 2007,Improved,Yes,NaN,NaN,NaN
1,2,Sand-mining dock-South Barbuda,Antigua & Barbuda,17.116670,-61.700000,1990,Seasonal,NaN,NaN,Antigua and Barbuda is a twin-island nation lo...,"Goreau & Goreau, 1996; Bernal et al. 2004",Eutrophic,Yes,NaN,NaN,NaN
2,4,Beaufort Inlet,Australia,-34.459000,118.888000,1930,Episodic,NaN,Massive fish kills reported as early as 1936,"Beaufort Inlet, also locally known as Pallinup...","Brearley, 2005",Hypoxic,No,NaN,NaN,NaN
3,5,Bellambi Gully,Australia,-34.407017,150.900178,1990,NaN,NaN,NaN,Bellambi Gully is an estuarine lagoon in New S...,Wollongong City Council 2007,Eutrophic,Yes,NaN,NaN,NaN
4,7,Cabbage Tree Basin,Australia,-34.088639,151.126756,1980,Seasonal,Mortality with annual recolonization,NaN,The Cabbage Tree Basin is a small body of wate...,"Rainer & Griffiths, 1980; Rainer & Fitzharding...",Hypoxic,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771,890,Western Florida Bay (FKNMS),US,24.799022,-81.006311,1990,NaN,NaN,NaN,The Florida Keys are a chain of small islands ...,"Boyer and Jones, 2002; Boyer and Briceño, 2009",Eutrophic,NaN,NaN,NaN,NaN
772,891,Lower Keys (Gulf-side) (FKNMS),US,24.715936,-81.539614,1990,NaN,NaN,NaN,The Florida Keys are a chain of small islands ...,"Boyer and Jones, 2002; Boyer and Briceño, 2010",Eutrophic,NaN,NaN,NaN,NaN
773,892,Lower Keys (Atlantic-side) (FKNMS),US,24.549794,-81.458856,1990,NaN,NaN,NaN,The Florida Keys are a chain of small islands ...,"Boyer and Jones, 2002; Boyer and Briceño, 2011",Eutrophic,NaN,NaN,NaN,NaN
774,893,Middle Keys (FKNMS),US,24.946192,-80.499611,1990,NaN,NaN,NaN,The Florida Keys are a chain of small islands ...,"Boyer and Jones, 2002; Boyer and Briceño, 2012",Eutrophic,NaN,NaN,NaN,NaN
775,894,Upper Keys (FKNMS),US,25.294911,-80.185136,1990,NaN,NaN,NaN,The Florida Keys are a chain of small islands ...,"Boyer and Jones, 2002; Boyer and Briceño, 2013",Eutrophic,NaN,NaN,NaN,NaN

In [10]:
eutro_hypoxic_df=file2_df[["ID", "Country", "Lat", "Long", "Classification"]]
eutro_hypoxic_df.head()

   ID            Country        Lat        Long Classification
0   1         Antarctica -77.850000  166.651000       Improved
1   2  Antigua & Barbuda  17.116670  -61.700000      Eutrophic
2   4          Australia -34.459000  118.888000        Hypoxic
3   5          Australia -34.407017  150.900178      Eutrophic
4   7          Australia -34.088639  151.126756        Hypoxic

In [12]:
eutro_df.to_csv('Final_CSVs/Food_Production_Eutrophication.csv', index = False)

In [13]:
eutro_hypoxic_df.to_csv('Final_CSVs/Eutrophication_Hypoxia_Coordinates.csv', index = False)

In [ ]:
#conn_str = "{}://{}:{}@{}:{}/{}".format(
 #                                  "postgresql+psycopg2", 
 #                                 db_server_info["user"], 
 #                                 db_server_info["password"], 
 #                                 db_server_info["host"], 
 #                                 db_server_info["port"], 
 #                                 db_server_info["dbname"]) 
#alchemyEngine = create_engine(conn_str, pool_recycle=3600)
#postgreSQLConnection = alchemyEngine.connect()

In [ ]:
#eutro_hypoxic_df.to_sql("GHG", postgreSQLConnection, index=False, if_exists='append')